- model_class = User
.page-header
  %h1=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize


-if @current_user && @current_user.id == @user.id
  = render :partial => "form"

-elsif @current_user && @current_user.is_admin
  %p
    %strong='Name:'
    %br
    = @user.name
  %p
    %strong= 'Email:'
    %br
    = @user.email
  %p
    %strong= 'Is Administrator:'
    %br
    = @user.is_admin
  = form_for @user, :html => { :class => 'form-horizontal' } do |f|
    .control-group
      =f.label :is_admin, :class => 'control-label'
      .controls
        =f.check_box :is_admin, :class => 'check-box_field'

    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'