= form_for @patient_vaccine do |f|
  - if @patient_vaccine.errors.any?
    #error_explanation
      %h2= "#{pluralize(@patient_vaccine.errors.count, "error")} prohibited this patient_vaccine from being saved:"
      %ul
        - @patient_vaccine.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :patient_id
    = f.number_field :patient_id
  .field
    = f.label :vaccine_id
    = f.number_field :vaccine_id
  .actions
    = f.submit 'Save'
